allow hal_bluetooth_default vendor_ramdump_vendor_data_file:dir { read open search write add_name getattr };
allow hal_bluetooth_default vendor_ramdump_vendor_data_file:file { create getattr w_file_perms };
