# OTG
type vendor_sysfs_otg_switch, fs_type, sysfs_type;
# USB fast charge
type vendor_sysfs_fastcharge, fs_type, sysfs_type;

# AOD brightness
type vendor_sysfs_aod_brightness, fs_type, sysfs_type;

allow system_app vendor_sysfs_graphics:dir search;
allow system_app vendor_sysfs_graphics:file rw_file_perms;
allow system_app vendor_sysfs_usb_supply:dir search;
allow system_app vendor_sysfs_usb_supply:file rw_file_perms;
allow system_app vendor_sysfs_otg_switch:dir search;
allow system_app vendor_sysfs_otg_switch:file rw_file_perms;
allow system_app vendor_sysfs_battery_supply:dir search;
allow system_app vendor_sysfs_battery_supply:file rw_file_perms;
allow system_app vendor_sysfs_fastcharge:dir search;
allow system_app vendor_sysfs_fastcharge:file rw_file_perms;
allow system_app vendor_sysfs_aod_brightness:dir search;
allow system_app vendor_sysfs_aod_brightness:file rw_file_perms;

# PW iris
set_prop(system_app, vendor_iris_prop)
